.projects{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
}

.projects h2{
    font-size: 1.8rem;
    text-align: center;
    color: #360909;

}

.projetos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 950px) {
    .projetos{
        flex-direction: column;
    }
}