.links{
    height: 16rem;
    width: 18rem;
    background-color: #f94144;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    gap: 1rem;
}

.links img{
    height: 8rem;
    width: 16rem;
    border-radius: 1rem;
}

.links p{
    color: #360909;
    font-size: 1.2rem;
}

.links button{
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: .6rem;
}