main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 10rem;
    height: 60vh;
}

h1{
    font-weight: 900;
    color: #360909;
    font-size: 2.6rem;
}

.infosHome{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


.pDev{
    display: flex;
    justify-content: center;
}

.pDev p{
    font-size: 1.2rem;
}

