.about {
    background-color: #bc3838;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 2rem 0;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: white;
    max-width: 750px;
}

h2 {
    font-size: 1.8rem;
}

.aboutMe p {
    font-size: 1.2rem;
    text-align: center;
}

.iconSvg {
    height: 18rem;
}


@media (max-width: 950px) {
    .about {
        flex-direction: column;
    }
    .iconSvg{
        height: 12rem;
    }
    .about p {
        font-size: .95rem;
    }
}